---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Nao Calabretta. All rights reserved. Source code for the website is
	available on
	<a href="https://github.com/NyaomiDEV/shit-nao-says">GitHub</a>.
</footer>
