---

---

<header>
	<nav>
		<h1>
			<sup>Shit</sup> Nao <sub>Says</sub>
		</h1>

		<div class="links">
			<a href="/">home</a>
			<a href="/blog">blog</a>
			<a href="/contact.html">contact</a>
		</div>
	</nav>
</header>
